.row {
	margin-top: 20px;
}
.block1__form_align{
	text-align: center;
}
.message-text__button_properties, .message-text__button-out_properties {
		/*margin-left: auto;*/
	margin-top: 5px;
}


.content__container_border {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #ccc;
}

body {
	font-family: Verdana;
	font-size:12px;
}

ul {
	list-style-type: none;
	width: 500px;
}

#commentRoot li {
	margin: 7px 0 7px 7px;
}

#commentRoot li a {
	margin-left: 350px;
}

#commentRoot li .commentContent {
	border: solid 1px #ccc;
	padding: 5px 10px;
}
#commentRoot li h6 {
	color: green;
	font-size: 11px;
	margin: 5px;

}
#commentRoot li h6  span {
	color: dimgrey; font-size: 10px;
	margin-left: 20px;
}
#commentRoot li .comment {
	margin-top: 5px;
}
#commentRoot li a.reply {
	font-size: 11px;
}

/*  Формочка */
#newComment, .loader {display: none;}
#cancelComment {
	float: right; width: 20px; color: red; cursor: pointer;
}
#newComment input {
	height: 26px; width: 250px; padding: 0 5px ; margin-left: 50px;
	border: solid 1px #ccc;
}
#newComment textarea {
	width: 350px;  height: 100px; margin-left: 5px;
	vertical-align: middle; border: solid 1px #ccc;
}
#newComment button {
	margin-left: 102px; margin-top: 10px;
}

